# SMTP Configuration
# El servidor de correo que compres junto al dominio
SMTP_HOST=smtp.tuservidor.com
SMTP_PORT=465
SMTP_USER=contacto@opticasantaisabel.com
SMTP_PASS=tu_contrasena_aqui

# Email recipient
CONTACT_EMAIL=contacto@opticasantaisabel.com
